<!-- About me -->
<section class="about-me" id="about">
  <h2 class="section__title section__title--about">Who I am</h2>
  <p class="section__subtitle section__subtitle--about">
    Software Developer
  </p>
  <div class="about-me__body">
    <p>
      I am an experienced Software Developer with skills building
      applications using JavaScript. I have much knowledge building apps
      that run on the web and mobile platforms using frameworks such as
      Angular, React, React Native and Ionic. My web applications are highly
      responsive. I am passionate about solving problems and never afraid to
      pick up new challenges.
    </p>
    <!-- <p>
      I combine the science and art of design to develop applications with
      great User Interface and awesome experience for the users
    </p> -->
  </div>
  <img src="assets/img/devtop.jpg" alt="" class="about-me__img" />
</section>
