<!-- footer -->

<footer class="footer">
  <a href="mailto:topeojewale@gmail.com" class="footer__link"
  >topeojewale@gmail.com</a
  >
  <ul class="social-list">
    <li class="social-list--item">
      <a
        href="https://www.linkedin.com/in/topeojewale/"
        target="_blank"
        class="social-list__link"
      >
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li class="social-list--item">
      <a
        href="https://twitter.com/topeojewale"
        target="_blank"
        class="social-list__link"
      >
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li class="social-list--item">
      <a
        href="https://github.com/ojewaletope"
        target="_blank"
        class="social-list__link"
      >
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</footer>
