<!-- my work -->

<section class="my-work" id="work">
  <h2 class="section__title--work">My Work</h2>
  <p class="section__subtitle--work">Some exciting stuff i've worked on</p>

  <div class="portfolio">
    <div class="portfolio__wrapper">
      <a href="" class="portfolio__item">
        <img
          src="assets/img/portfolio1.png"
          alt=""
          class="portfolio__img"
        />
      </a>
      <h3>YouTube Cloned App built with React and YouTube API</h3>
      <a
        href="https://clonedyoutube.netlify.app/"
        target="_blank"
        class="btn"
      >Check Project</a
      >
    </div>
    <div class="portfolio__wrapper">
      <a href="" class="portfolio__item">
        <img
          src="assets/img/portfolio2.png"
          alt=""
          class="portfolio__img"
        />
      </a>
      <h3>Movie Search App built with React and MovieDB API</h3>
      <a href="https://mymoviesapp.netlify.app/" target="_blank" class="btn"
      >Check Project</a
      >
    </div>
    <div class="portfolio__wrapper">
      <a href="" class="portfolio__item">
        <img
          src="assets/img/design.png"
          alt=""
          target="_blank"
          class="portfolio__img"
        />
      </a>
      <h3>Design test with Angular(username&password admin)</h3>
      <a href="https://tsti.netlify.app/" class="btn">Check Project</a>
    </div>
    <!--        <a href="" class="portfolio__item">-->
    <!--          <img src="assets/img/portfolio5.png" alt="" class="portfolio__img" />-->
    <!--        </a>-->
    <!--        <a href="" class="portfolio__item">-->
    <!--          <img src="assets/img/portfolio6.png" alt="" class="portfolio__img" />-->
    <!--        </a>-->
    <!--        <a href="" class="portfolio__item">-->
    <!--          <img src="assets/img/portfolio7.png" alt="" class="portfolio__img" />-->
    <!--        </a>-->
    <!--        <a href="" class="portfolio__item">-->
    <!--          <img src="assets/img/portfolio8.png" alt="" class="portfolio__img" />-->
    <!--        </a>-->
    <!--        <a href="" class="portfolio__item">-->
    <!--          <img src="assets/img/portfolio9.png" alt="" class="portfolio__img" />-->
    <!--        </a>-->
    <!--        <a href="" class="portfolio__item">-->
    <!--          <img src="assets/img/portfolio10.png" alt="" class="portfolio__img" />-->
    <!--        </a>-->
  </div>
</section>
