<!-- My Services -->
<section class="my-services" id="services">
  <h2 class="section__title section__title--services">What I do</h2>
  <div class="services">
    <div class="service">
      <h3>Web Development</h3>
      <p>
        I am an experienced developer with skills in Angular and React for
        web development. I am skilled at crafting great User Interface with
        my knowledge of HTML and CSS and also gives the user an awesome
        experience on the apps I build
      </p>
    </div>

    <div class="service">
      <h3>Mobile Development</h3>
      <p>
        I build great mobile apps using React Native and Ionic. I combine
        the science and art of design to bring the apps to life giving the
        user a great experience.
      </p>
    </div>

    <!--        <div class="service">-->
    <!--          <h3>UI/UX</h3>-->
    <!--          <p>I am a budding UI/UX designer</p>-->
    <!--        </div>-->
  </div>
  <a href="#work" class="btn">My Work</a>
</section>
